
html,
body {
    background: #34352d;
    font-family: 'Ubuntu Mono';
    font-size: 18px
}

#terminal {
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 18px
}

#terminal #term-inner {
    height: 100%;
    width: 100%;
    overflow: hidden
}

#terminal #term-inner input,
#terminal #term-inner p,
#terminal #term-inner span {
    font-family: 'Ubuntu Mono';
    font-size: 18px
}

#terminal #term-inner p {
    color: #fff;
    padding: 0;
    margin: 0;
    float: left
}

#terminal #term-inner p span.term-font-blue {
    color: #7a80d3
}

#terminal #term-inner p span.term-font-green {
    color: #79d17d
}

#terminal #term-inner p#term-output {
    width: 100%;
    float: left
}

#terminal #term-inner #term-user-bar {
    position: relative;
    width: 100%;
    float: left
}

#terminal #term-inner #term-user-bar p {
    position: absolute;
    top: 0;
    left: 0
}

#terminal #term-inner #term-user-bar input {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 0 0 81px;
    display: block;
    color: #fff;
    width: 100%
}

#terminal #term-inner #term-user-bar input:focus {
    border: none !important;
    outline: 0
}

#terminal #term-inner .term-left {
    float: left
}

#terminal #term-inner #cursor {
    content: "|";
    display: block
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #fff;
}

.info {
    padding: 20px 0 10px 0;
    font-weight: bold;
    color: #e1e438;
}

#description {
    color: #fff;
}
